/* input styles */
.extern-input {
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #222;
    box-shadow:
      inset 4px 4px 4px rgba(15, 15, 15, 0.315),
      4px 4px 4px rgba(28, 28, 28, 0.13);
    border-radius: 25px;
    background-clip: padding-box;
  }
  
  .extern-input:focus {
    background-color: rgba(0, 0, 0, 0.03); /* 当输入框获取焦点时，背景色变浅 */
  }
  
  .extern-input::placeholder {
    color: gray;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-align: center;
  }
  
  .extern-input:focus::placeholder {
    color: #999;
  }
  